<h3>Ajustes</h3>

<div class="row g-3">
  <div class="col-12 col-lg-6">
    <div class="card"><div class="card-body">
      <h5>Catálogos</h5>
      <ul class="mb-0">
        <li><a href="/settings/campuses">Campus</a></li>
        <li><a href="/settings/shifts">Turnos</a></li>
        <li><a href="/settings/periods">Periodos</a></li>
        <li><a href="/settings/years">Años</a></li>
        <li><a href="/settings/packages">Paquetes</a></li>
        <li><a href="/settings/careers">Carreras</a></li>
      </ul>
    </div></div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="card"><div class="card-body">
      <h5>Mensajes WhatsApp</h5>
      <ul class="mb-0">
        <li><a href="/settings/messages">Editar plantillas (1-5)</a></li>
      </ul>
    </div></div>
  </div>

  <div class="col-12">
    <div class="card"><div class="card-body">
      <h5>Usuarios</h5>
      <ul class="mb-0">
        <li><a href="/settings/users">Usuarios y campus</a></li>
      </ul>
    </div></div>
  </div>
</div>
